
.stand-bg {
    background-color: #eae8eb;
}

.tag {
    color: #b567f5;
    font-weight: bold;
}

.btn {
    background-color: #f0116e;
}

.price-stand {
    background-color: #67f58f;
    color: white;
}

.tag-stand {
    color: #67f58f;
    font-weight: bold;
}

.tag-pro {
    color: #f5bc42;
    font-weight: bold;
}

.price-basic {
    background-color: #b567f5;
    color: white;
}

.price-pro {
    background-color: #f5bc42;
    color: white;
}

.plan {
    font-weight: bold;
    font-size: 20px;
}

.price {
    font-weight: bold;
    font-size: 40px;
}

.list-type {
    list-style-type: none;
}
